.contents
  - @users.each do |user|
    -if current_user.following?(user) && current_user.follower?(user) && user.image.present?
      .user
        .user__image
          =image_tag(user.image, class:"icon-image")
        .user__name
          =link_to user.name,"/users/#{user.id}", method: :get
    -elsif current_user.following?(user) && current_user.follower?(user)
      .user
        .user__image
          =image_tag("名無し.png", class:"icon-image")
        .user__name
          =link_to user.name,"/users/#{user.id}", method: :get
