.contents
  .user
    .user__image
      =image_tag(current_user.image, class:"icon-image")
    .user__name　かきくけお
  .user
    .user__image
      =image_tag(current_user.image, class:"icon-image")
    .user__name　かきくけお
  .user
    .user__image
      =image_tag(current_user.image, class:"icon-image")
    .user__name　かきくけお
  .user
    .user__image
      =image_tag(current_user.image, class:"icon-image")
    .user__name　かきくけこ
      
  .user
    .user__image
      =image_tag(current_user.image, class:"icon-image")
    .user__name　かきくけお
  .user
    .user__image
      =image_tag(current_user.image, class:"icon-image")
    .user__name　かきくけお
  .user
    .user__image
      =image_tag(current_user.image, class:"icon-image")
    .user__name　かきくけお
  .user
    .user__image
      =image_tag(current_user.image, class:"icon-image")
    .user__name　かきくけお
  .user
    .user__image
      =image_tag(current_user.image, class:"icon-image")
    .user__name　かきくけお
  .user
    .user__image
      =image_tag(current_user.image, class:"icon-image")
    .user__name　かきくけお
  .user
    .user__image
      =image_tag(current_user.image, class:"icon-image")
    .user__name　かきくけお
  .user
    .user__image
      =image_tag(current_user.image, class:"icon-image")
    .user__name　かきくけお
  .user
    .user__image
      =image_tag(current_user.image, class:"icon-image")
    .user__name　かきくけお
  