.cpntents
  .user
    .user__image あいうえお
    .uesr__name　かきくけお
  .user
    .user__image あいうえお
    .uesr__name　かきくけお
  .user
    .user__image あいうえお
    .uesr__name　かきくけお
  .user
    .user__image あいうえお
    .uesr__name　かきくけお