.header{
  display: flex;
  justify-content: space-between;
  width:100%;
  height:80px;
  background-color: #99ffff;
  background-image:
	linear-gradient(45deg, rgba(56, 142, 60, 0.5) 25%, transparent 25%,
	transparent 50%, rgba(56, 142, 60, 0.5) 50%, rgba(56, 142, 60, 0.5) 75%,
	transparent 75%, transparent),
	linear-gradient(-45deg, rgba(56, 142, 60, 0.5) 25%, transparent 25%,
	transparent 50%, rgba(56, 142, 60, 0.5) 50%, rgba(56, 142, 60, 0.5) 75%,
  transparent 75%, transparent);
  
  &__logo{
    display: flex;
    line-height: 80px;
    &__app{
      font-size: 45px;
      a{
        text-decoration: none;
        color: black;
      }
    }
    &__image{
      padding-top: 20px;
      padding-left: 15px;
      .icon-image {
        width: 50px;
        height: 50px;
        //サイズ指定
        border-radius: 25px;
        //画像を丸くする
        object-fit: cover;
        //タテヨコ比を変えないままトリミング
      }
    }
  }

  &__list{
    display: flex;
    justify-content: flex-end;
    line-height: 80px;
    li{
      padding-right: 8px;
      a{
        text-decoration: none;
        color: black;
      }
    }
  }
}
.contents{
  display: flex;
  flex-wrap: wrap;
}
.user{
  // background-color: red;
  padding: 10px 40px 0 0;
  width:200px;
  height: 280px;
  .icon-image {
    width: 200px;
    height: 200px;
    //サイズ指定
    border-radius: 100px;
    //画像を丸くする
    object-fit: cover;
    //タテヨコ比を変えないままトリミング
  }
  .user__name{
    font-size: 25px;
    color:#99ffff;
    padding-left: 3px;
    padding-top:10px;
    a{
      text-decoration: none;
      color:#99ffff;
    }
  }
  
}
