#wrap{
  // background:url("https://cdn.pixabay.com/photo/2016/01/08/16/53/flame-1128636_1280.jpg");
  background-size: cover;
  opacity: 0.8;
  position: relative;

  width: 100%;
  height:100vh;
  display: flex;
  position:relative;


}

#left-bg,#right-bg{
  // position: absolute;

  // /* 要素の大きさ 分割数によって調整が必要 */
  // width: 50%;
  // height: 100vh;

  /* 画像 */
  background-image: url("https://cdn.pixabay.com/photo/2016/09/08/20/52/starry-sky-1655503_1280.jpg");
  

  /* 画像の配置位置 ボーターを含めた位置 */
  // background-origin: border-box;

  // // /* 画像の大きさをbox-wrapの大きさに合わせる */
  // background-size: 100% 100%;

  // box-sizing: border-box;
}

#left-bg{
  // background:url("https://cdn.pixabay.com/photo/2016/01/08/16/53/flame-1128636_1280.jpg")left top no-repeat;
  height:100vh;
  width: 50%;
  position: absolute;
  left:-50%;
   /* 画像の配置位置 ボーターを含めた位置 */
  //  background-origin: border-box;

   /* 画像の大きさをbox-wrapの大きさに合わせる */
  //  background-size: 100% 200%;

  //  box-sizing: border-box;
  background-position: left;
  position: relative;


}

#right-bg{
  // background:url("https://cdn.pixabay.com/photo/2016/01/08/16/53/flame-1128636_1280.jpg")right top no-repeat;
  height:100vh;
  width: 50%;
  position: absolute;
  right:-50%;
   /* 画像の配置位置 ボーターを含めた位置 */
  //  background-origin: border-box;

   /* 画像の大きさをbox-wrapの大きさに合わせる */
  //  background-size: 100% 200%;

  //  box-sizing: border-box;
  background-position: right;
  position:relative;

}


// #wrap {
//   width: 100%;
//   height: 100vh;
//   display: -webkit-box;
//   display: -moz-box;
//   display: box;
//   position: absolute;
// }


// #left-bg,#right-bg {
//   width: 720px;
//   height: 100vh;
//   -webkit-box-flex:1;
//   -moz-box-flex:1;
//   box-flex:1;
//   background: url(https://cdn.pixabay.com/photo/2016/01/08/16/53/flame-1128636_1280.jpg) left top no-repeat;
// }

// #left-bg {
//   position: relative;
//   left: -800px;
//   background-color: blue;
//   text-align: center;
// }

// #right-bg {
//   position: relative;
//   right: -800px;
//   background-color: red;
//   text-align: center;
//   padding-top: 320px;
//   background: url(https://cdn.pixabay.com/photo/2016/01/08/16/53/flame-1128636_1280.jpg) right top no-repeat;
// }

.user_avatar {
width: 250px;
height: 250px;
border-radius: 50%;
position: absolute;
top:30%;
left:30%;

}

#left-avatar{
}

#right-avatar{
margin-right: 150px;
}

.user_name {
color: white;
font-size: 30px;
padding: 15px;
position: absolute;
top:60%;
left:33%;
}



#matching_message {
position: absolute;
top: 400px;
left: 650px;
color: white;
font-size: 20px;
opacity: 0;
}

// #wreath {
// opacity: 0;
// position: absolute;
// left: 495px;
// top: 180px;
// width: 450px;
// }

#christmas_message {
opacity: 0;
position: absolute;
top: 10px;
left: 23%;
color: #ffffe0;
text-shadow: 0 0 10px #fff,0 0 15px #fff;
padding: 50px;
font-size: 85px;
font-family: cursive;
}

// .right_space {
// float: right;  
// }

// .clearfix:after{
// content: "";
// clear: both;
// display: block;
// }

// .message_link {
// color: white;
// }

// .text-right {
// position: relative;
// margin-left: -50px;
// padding: 10px;
// border-radius: 10px;
// background: #eee;
// margin-right: 12%;
// float: left;
// }

// .text-right:before {
// position: absolute;
// content: "";
// border: 10px solid transparent;
// }

// .text-right:after {
// position: absolute;
// content: "";
// border: 10px solid transparent;
// border-right: 10px solid #eee;
// top: 15px;
// left: -19px;
// }

// .text-left {
// position: relative;
// margin-right: 15px;
// padding: 10px;
// border-radius: 10px;
// background-color: #9cd6e7;
// margin-left: 12%;
// }

// .text-left:before {
// position: absolute;
// content: "";
// border: 10px solid transparent;
// }
// .text-left:after {
// position: absolute;
// content: "";
// border: 10px solid transparent;
// border-left: 10px solid #9cd6e7;
// top: 15px;
// right: -15px;
// }