.show-user{
  text-align:center;
  padding-top:100px;
  height: 100vh;
  background: radial-gradient(#eeffff, white);

  &__image{
    .icon-image {
      
      width: 350px;
      height: 350px;
      //サイズ指定
      border-radius: 175px;
      //画像を丸くする
      object-fit: cover;
      //タテヨコ比を変えないままトリミング
    }
  }
  &__name{
    font-size:40px;
    color:black;
  }
  &__introduction{
    font-size: 30px;
    color:#696969	;
  }
  
}

.follows{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.follows:after {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}
.follow-now{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #FF8C00;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.follow-now:after {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(163, 13, 13, 0.856);/*影を小さく*/
  border-bottom: none;
}

// .follows{
//   transform: scale(2,2);
//   margin-top: 20px;
//   background:linear-gradient(#FF3300,#FF0000);
//   border-radius: 20px;
//   padding: 5px 7px;
//   cursor: pointer;
// }
// .follow-now{
//   transform: scale(2,2);
//   margin-top: 20px;
//   background-color: #FF8C00	;
//   border-radius: 3px;
//   padding-top: 5px;
//   cursor: pointer;
//   margin-bottom:30px;
// }

// .room{
//   border: 1px solid #FF8C00 ;
//   color:black;
//   font-size: 20px;
//   padding:8px;
//   a{

//     text-decoration: none;
//   }
// }
.btn-default {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0 30px;
  font-size: 19px;
  height: 40px;
  line-height: 40px;
  background: #51587b;
  font-size: 20px;
  color: rgb(255, 255, 255);
  transition: .4s;
  margin-top: 20px;
}

.btn-default:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px white;
  border-bottom: solid 41px transparent;
  z-index: 1;
  transition: .4s;
}

.btn-default:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px transparent;
  border-bottom: solid 41px white;
  z-index: 1;
  transition: .4s;
}

.btn-default:hover:before, .btn-default:hover:after {
  border-left-width: 25px;
}

.deg_btn:hover {
  background: #2c3148;
}
#cvs{
  width:100%;
  height:calc(100vh - 80px);
}

.line-bc {
  padding: 80px 0px 0 0 ;
  width: 100%;
  // margin: 15px auto;
  text-align: right;
  font-size: 14px;
  background: #7da4cd;
  height: calc( 100vh - 180px);
  overflow: scroll;
}

/*以下、②左側のコメント*/
.balloon6 {
  width: 100%;
  margin: 10px 0;
  overflow: scroll;
}

.balloon6 .faceicon {
  float: left;
  margin-right: -50px;
  width: 80px;
}

.balloon6 .faceicon img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.balloon6 .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative; 
  margin: 20px 0 0 70px;
  padding: 10px;
  max-width: 50%;
  border-radius: 12px;
  background: #edf1ee;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  word-break: break-all;
}


/*以下、③右側の緑コメント*/
.mycomment {
  margin: 10px 0;
  padding-right: 10px;
}
.mycomment p {
  display: inline-block;
  position: relative; 
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 50%;
  border-radius: 12px;
  background: #30e852;
  font-size: 20px;
  word-break: break-all;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.form{
  display: flex;
  align-items: center;
  width:100%;
  height:80px;
  padding:10px 0;
  background-color: #f0f8ff;
  &__text{
    width:100%;
    height:60px;
    line-height: 80px;
    margin: 0 10px ;
    background-color: #f5f5f5;
  }

  &__submit{
    background-color: #00bfff;
    display: block;
    width:80px;
    height:60px;
    cursor: pointer;
    border-radius: 30px;
    margin-right:10px;
    
  
}
}



.circle{
  width:80px;
  height:80px;
  background-color: red;
  border-radius: 50%;
}