.show-user{
  text-align:center;
  padding-top:100px;
  height: 100vh;
  background: radial-gradient(#eeffff, white);
  
  &__image{
    .icon-image {
      width: 350px;
      height: 350px;
      //サイズ指定
      border-radius: 175px;
      //画像を丸くする
      object-fit: cover;
      //タテヨコ比を変えないままトリミング
    }
  }
  &__name{
    font-size:40px;
    color:black;
  }
  &__introduction{
    font-size: 30px;
    color:#696969	;
    word-break: break-all;
    width:50%;
    margin:0 auto;
  }
  
}

.follows{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.follows:after {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}
.follow-now{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #FF8C00;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.follow-now:after {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(163, 13, 13, 0.856);/*影を小さく*/
  border-bottom: none;
}

// メッセージ一覧へ移行するボタン
.btn-default {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0 30px;
  font-size: 19px;
  height: 40px;
  line-height: 40px;
  background: #51587b;
  font-size: 20px;
  color: rgb(255, 255, 255);
  transition: .4s;
  margin-top: 20px;
}

.btn-default:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px white;
  border-bottom: solid 41px transparent;
  z-index: 1;
  transition: .4s;
}

.btn-default:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px transparent;
  border-bottom: solid 41px white;
  z-index: 1;
  transition: .4s;
}

.btn-default:hover:before, .btn-default:hover:after {
  border-left-width: 25px;
}

.deg_btn:hover {
  background: #2c3148;
}